*{
    margin: 0;
    padding: 0;
}
.main-section{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.toplt{
    margin: 0 0 20px 30px;
    background-color: pink;
    height: 40px;
    width: 200px;
    float: left;
}
.toprt{
    margin: 0 30px 0 0;
    background-color: pink;
    height: 40px;
    width: 90px;
    float: right;
}
.main-section, .secondcont, .thirdcont{
    flex-direction: column;
}
.topsection,{
    flex-direction: row;
}
.third1{
    display: flex;
    flex-direction: row;
}
.center{
    width: 20%;
    height: 70px;
    margin: 0 auto;
    background-color: pink;
}
.center2{
    width: 70px;
    height: 20px;
    margin: 5px auto;
    background-color: pink;
}
.thirdcont{
    background-color: pink;
    margin: 10px;
    padding: 10px;
}
.sc1, .sc2, .sc3, .wide{
    background-color: gray;
}
.sc1{
    height: 20px;
    width: 150px;
}
.sc2{
    height: 40px;
    width: 330px;
    margin: 0 20px 10px 20px;
}
.sc3{
    height: 20px;
    width: 370px;
}
.onemore{
    display: flex;
    flex-direction: column;
    float: left;
}
.wide{
    margin: 10px 20px 10px 20px;
    height: 50px;
    width: 500px;
}