.main{
    border:1px solid gray;
    width: 40%;
    margin: 0 auto;
  }
  .topcon{
    display:flex;
    margin: 0 10px;
    justify-content:space-between;
    height:40px;
  }
  .pink{
      background-color: pink;
  }
  .toprt{
    
    width:20%;
  }
  .toplt{
    
    width:15%;
  }
  .seccon{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    height:150px;
    margin: 10px 80px;
    flex-direction:column;
  }
  .ctr1{
    width:50%;
    height:70%;
    
  }
  .ctr2{
    width: 15%;
    height:15%;
    margin: 10px;
    
  }
  .thrcon{
    width: 95%;
    margin:0 auto;
  }
  .thr1{
    display: flex;
    justify-content: space-between;
  }
  .same{
    width: 20%;
    height: 20px;
    margin:20px 10px 0px 20px;
    background-color: grey;
  }
  .centh{
    width: 40%;
    height: 30px;
    margin:12px 0px 0px 10px;
    background-color: gray;
  }
  .rt1{
    width: 25%;
    height: 20px;
    margin: 20px 10px 0px 0px;
    background-color: grey;
  }
  .thr2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .centh1{
    width: 65%;
    height: 80px;
    margin: 20px 40px 10px 20px;
    background-color: grey;
  }
  .centh2{
    width:30%;
    height:15px;
    background-color: grey;
    margin: 0 205px;
  }
  .thr3{
    display: flex;
    margin:auto;
  }
  .centh3{
    width:30%;
    height:50px;
    background-color: grey;
    margin:5px 18px 13px 205px;
  }
  .rt2{
    width:30%;
    height:30px;
    background-color:grey;
    margin: 10px 20px 10px 10px;
  }
  .tab{
    display: flex;
    margin-top: 50px;
    margin-bottom:-1px;

  }
  .tab1{
    border: 1px solid gray;
    height: 25px;
    width: 20%;
    margin-left: 10px;
  }
  .tab2{
    border: 1px solid gray;
    height: 25px;
    width: 20%;
    margin-left: 10px;
  }
  .tab3{
    border: 1px solid gray;
    height: 25px;
    width: 20%;
    margin-left: 10px;
  }
  .tab4{
    background-color:grey;
    height: 20px;
    width: 15%;
    margin-left: 125px;
  }
  .botcon{
    width: 100%;
    border: 1px solid gray;
    background-color: pink;
    margin-left: -1px;
  }
  .bctop{
    display: flex;
    justify-content: space-between;
    margin: 20px 33px 20px 20px;
  }
  .same1{
    width: 25%;
    height: 30px;
    background-color: grey;
  }
  .bcmid{
    display: flex;
    width:95%;
    height:70px;
    margin:20px;
  }
  .same2{
    width: 100px;
    height: 15px;
    background-color: grey;
  }
  .bm2{
    width: 83%;
    height: 35px;
    align-self: center;
    margin-left: -97px;
    background-color: grey;
  }
  .bm3{
    width: 103px;
    height: 35px;
    background-color: gray;
    margin: 17px;
  }
  .bcbottom{
    width: 95%;
    display: flex;
    margin:auto;
    flex-wrap: wrap;
  }
  .lyr1{
    width:25%;
    height: 15px;
    margin: -33px 10px 10px 2px;
    background-color: grey;
  }
  .lyr2{
    width:98%;
    height: 35px;
    margin: 0px 5px 5px 2px;
    background-color: grey;
  }
  .lyr3{
    align-self: center;
    width:600px;
    height: 35px;
    background-color: grey;
    margin:5px 5px 5px 2px;
  }
  .lyr4{
    width:585px;
    height: 35px;
    background-color: grey;
    margin:4px;
    margin-left: 100px;
  } 
  .lyrlst{
    width:600px;
    height: 35px;
    background-color: grey;
    margin: -4px 5px 5px 3px;
  }
  .finale{
    width: 40%;
    display: flex;
    margin:auto;
    flex-wrap: wrap;
  }
  .lt{
      width: 20%;
      height: 10px;
      margin-top: 5px;
      background-color: grey;
  }
  .rt{
      width: 40%;
      height: 10px;
      margin-top: -10px;
      background-color: grey;
      margin-left: 500px;
  }
